/*!
 *  licons by Jan Klever - @janklever - http://janklever.github.io/licons
 */

@import "variables";

@font-face {
    font-family: 'licons';
    src:    url('#{$icomoon-font-path}/licons.eot?v=1.1');
    src:    url('#{$icomoon-font-path}/licons.eot?v=1.1#iefix') format('embedded-opentype'),
        url('#{$icomoon-font-path}/licons.ttf?v=1.1') format('truetype'),
        url('#{$icomoon-font-path}/licons.woff?v=1.1') format('woff'),
        url('#{$icomoon-font-path}/licons.woff2?v=1.1') format('woff2'),
        url('#{$icomoon-font-path}/licons.svg?v=1.1#licons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="li-"], [class*=" li-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'licons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    
    /* Enable Ligatures ================ */
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    -o-font-feature-settings: "liga";
    font-feature-settings: "liga";

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.li {
    // SIZES
    &-2x { font-size: 2rem; }
    &-3x { font-size: 3rem; }
    &-4x { font-size: 4rem; }
    &-5x { font-size: 5rem; }

    // CHARACTERS
    &-accessibility {
        &:before { content: @li-accessibility; }
    }
    &-ampersand {
        &:before { content: @li-ampersand; }
    }
    &-anchor {
        &:before { content: @li-anchor; }
    }
    &-archive {
        &:before { content: @li-archive; }
    }
    &-asterisk {
        &:before { content: @li-asterisk; }
    }
    &-at {
        &:before { content: @li-at; }
    }
    &-balloons {
        &:before { content: @li-balloons; }
    }
    &-birthday-cake {
        &:before { content: @li-birthday-cake; }
    }
    &-gift {
        &:before { content: @li-gift; }
    }
    &-turn-off {
        &:before { content: @li-turn-off; }
    }
    &-ban {
        &:before { content: @li-ban; }
    }
    &-warning {
        &:before { content: @li-warning; }
    }
    &-bell {
        &:before { content: @li-bell; }
    }
    &-bullhorn {
        &:before { content: @li-bullhorn; }
    }
    &-calendar {
        &:before { content: @li-calendar; }
    }
    &-certificate {
        &:before { content: @li-certificate; }
    }
    &-clock {
        &:before { content: @li-clock; }
    }
    &-chat {
        &:before { content: @li-chat; }
    }
    &-comment {
        &:before { content: @li-comment; }
    }
    &-copyright {
        &:before { content: @li-copyright; }
    }
    &-registered {
        &:before { content: @li-registered; }
    }
    &-trademark {
        &:before { content: @li-trademark; }
    }
    &-delivery {
        &:before { content: @li-delivery; }
    }
    &-dots-h {
        &:before { content: @li-dots-h; }
    }
    &-dots-v {
        &:before { content: @li-dots-v; }
    }
    &-download {
        &:before { content: @li-download; }
    }
    &-envelope {
        &:before { content: @li-envelope; }
    }
    &-exclamation {
        &:before { content: @li-exclamation; }
    }
    &-question {
        &:before { content: @li-question; }
    }
    &-eye {
        &:before { content: @li-eye; }
    }
    &-eye-slash {
        &:before { content: @li-eye-slash; }
    }
    &-filter {
        &:before { content: @li-filter; }
    }
    &-flag {
        &:before { content: @li-flag; }
    }
    &-graduation-cap {
        &:before { content: @li-graduation-cap; }
    }
    &-hashtag {
        &:before { content: @li-hashtag; }
    }
    &-heart {
        &:before { content: @li-heart; }
    }
    &-home {
        &:before { content: @li-home; }
    }
    &-hourglass {
        &:before { content: @li-hourglass; }
    }
    &-infinity {
        &:before { content: @li-infinity; }
    }
    &-info {
        &:before { content: @li-info; }
    }
    &-laptop {
        &:before { content: @li-laptop; }
    }
    &-leaf {
        &:before { content: @li-leaf; }
    }
    &-link {
        &:before { content: @li-link; }
    }
    &-lock {
        &:before { content: @li-lock; }
    }
    &-unlock {
        &:before { content: @li-unlock; }
    }
    &-unlock-alt {
        &:before { content: @li-unlock-alt; }
    }
    &-magnet {
        &:before { content: @li-magnet; }
    }
    &-magnet-alt {
        &:before { content: @li-magnet-alt; }
    }
    &-map-marker {
        &:before { content: @li-map-marker; }
    }
    &-menu {
        &:before { content: @li-menu; }
    }
    &-minus {
        &:before { content: @li-minus; }
    }
    &-plus {
        &:before { content: @li-plus; }
    }
    &-more-or-less {
        &:before { content: @li-more-or-less; }
    }
    &-check {
        &:before { content: @li-check; }
    }
    &-close {
        &:before { content: @li-close; }
    }
    &-divide {
        &:before { content: @li-divide; }
    }
    &-dollar {
        &:before { content: @li-dollar; }
    }
    &-percent {
        &:before { content: @li-percent; }
    }
    &-permille {
        &:before { content: @li-permille; }
    }
    &-music {
        &:before { content: @li-music; }
    }
    &-music-alt {
        &:before { content: @li-music-alt; }
    }
    &-headphones {
        &:before { content: @li-headphones; }
    }
    &-note {
        &:before { content: @li-note; }
    }
    &-options {
        &:before { content: @li-options; }
    }
    &-paper {
        &:before { content: @li-paper; }
    }
    &-printer {
        &:before { content: @li-printer; }
    }
    &-paper-plane {
        &:before { content: @li-paper-plane; }
    }
    &-paperclip {
        &:before { content: @li-paperclip; }
    }
    &-pencil {
        &:before { content: @li-pencil; }
    }
    &-phone {
        &:before { content: @li-phone; }
    }
    &-mobile {
        &:before { content: @li-mobile; }
    }
    &-quote-left {
        &:before { content: @li-quote-left; }
    }
    &-quote-right {
        &:before { content: @li-quote-right; }
    }
    &-quotes {
        &:before { content: @li-quotes; }
    }
    &-rss {
        &:before { content: @li-rss; }
    }
    &-search {
        &:before { content: @li-search; }
    }
    &-settings {
        &:before { content: @li-settings; }
    }
    &-share {
        &:before { content: @li-share; }
    }
    &-signal {
        &:before { content: @li-signal; }
    }
    &-wireless {
        &:before { content: @li-wireless; }
    }
    &-star {
        &:before { content: @li-star; }
    }
    &-tag {
        &:before { content: @li-tag; }
    }
    &-thumbs-up {
        &:before { content: @li-thumbs-up; }
    }
    &-thumbs-down {
        &:before { content: @li-thumbs-down; }
    }
    &-trash {
        &:before { content: @li-trash; }
    }
    &-trophy {
        &:before { content: @li-trophy; }
    }
    &-university {
        &:before { content: @li-university; }
    }
    &-user {
        &:before { content: @li-user; }
    }
    &-users {
        &:before { content: @li-users; }
    }
    &-bolt {
        &:before { content: @li-bolt; }
    }
    &-flash {
        &:before { content: @li-flash; }
    }
    &-camera {
        &:before { content: @li-camera; }
    }
    &-fruit-apple {
        &:before { content: @li-fruit-apple; }
    }
    &-book {
        &:before { content: @li-book; }
    }
    &-bookmaker {
        &:before { content: @li-bookmaker; }
    }
    &-briefcase {
        &:before { content: @li-briefcase; }
    }
    &-coffee {
        &:before { content: @li-coffee; }
    }
    &-compact-disc {
        &:before { content: @li-compact-disc; }
    }
    &-drop {
        &:before { content: @li-drop; }
    }
    &-drugs {
        &:before { content: @li-drugs; }
    }
    &-float {
        &:before { content: @li-float; }
    }
    &-glass {
        &:before { content: @li-glass; }
    }
    &-glasses {
        &:before { content: @li-glasses; }
    }
    &-balance {
        &:before { content: @li-balance; }
    }
    &-hourglass2 {
        &:before { content: @li-hourglass2; }
    }
    &-atom {
        &:before { content: @li-atom; }
    }
    &-kitasato {
        &:before { content: @li-kitasato; }
    }
    &-test-tube {
        &:before { content: @li-test-tube; }
    }
    &-light {
        &:before { content: @li-light; }
    }
    &-pie-chart {
        &:before { content: @li-pie-chart; }
    }
    &-line-chart {
        &:before { content: @li-line-chart; }
    }
    &-cloud {
        &:before { content: @li-cloud; }
    }
    &-sun {
        &:before { content: @li-sun; }
    }
    &-moon {
        &:before { content: @li-moon; }
    }
    &-planet {
        &:before { content: @li-planet; }
    }
    &-mouse {
        &:before { content: @li-mouse; }
    }
    &-map {
        &:before { content: @li-map; }
    }
    &-picture {
        &:before { content: @li-picture; }
    }
    &-bike {
        &:before { content: @li-bike; }
    }
    &-pin {
        &:before { content: @li-pin; }
    }
    &-pin-alt {
        &:before { content: @li-pin-alt; }
    }
    &-shield {
        &:before { content: @li-shield; }
    }
    &-skull {
        &:before { content: @li-skull; }
    }
    &-target {
        &:before { content: @li-target; }
    }
    &-umbrella {
        &:before { content: @li-umbrella; }
    }
    &-maximize {
        &:before { content: @li-maximize; }
    }
    &-minimize {
        &:before { content: @li-minimize; }
    }
    &-play {
        &:before { content: @li-play; }
    }
    &-pause {
        &:before { content: @li-pause; }
    }
    &-rec {
        &:before { content: @li-rec; }
    }
    &-stop {
        &:before { content: @li-stop; }
    }
    &-backward {
        &:before { content: @li-backward; }
    }
    &-forward {
        &:before { content: @li-forward; }
    }
    &-fast-backward {
        &:before { content: @li-fast-backward; }
    }
    &-fast-forward {
        &:before { content: @li-fast-forward; }
    }
    &-left {
        &:before { content: @li-left; }
    }
    &-right {
        &:before { content: @li-right; }
    }
    &-step-left {
        &:before { content: @li-step-left; }
    }
    &-step-right {
        &:before { content: @li-step-right; }
    }
    &-microphone {
        &:before { content: @li-microphone; }
    }
    &-video-camera {
        &:before { content: @li-video-camera; }
    }
    &-volume {
        &:before { content: @li-volume; }
    }
    &-volume-down {
        &:before { content: @li-volume-down; }
    }
    &-volume-up {
        &:before { content: @li-volume-up; }
    }
    &-volume-off {
        &:before { content: @li-volume-off; }
    }
    &-genderless {
        &:before { content: @li-genderless; }
    }
    &-neuter {
        &:before { content: @li-neuter; }
    }
    &-female {
        &:before { content: @li-female; }
    }
    &-male {
        &:before { content: @li-male; }
    }
    &-venus-double {
        &:before { content: @li-venus-double; }
    }
    &-mars-double {
        &:before { content: @li-mars-double; }
    }
    &-venus-mars {
        &:before { content: @li-venus-mars; }
    }
    &-intersex {
        &:before { content: @li-intersex; }
    }
    &-mars-stroke-h {
        &:before { content: @li-mars-stroke-h; }
    }
    &-mars-stroke-v {
        &:before { content: @li-mars-stroke-v; }
    }
    &-mercury {
        &:before { content: @li-mercury; }
    }
    &-transgender {
        &:before { content: @li-transgender; }
    }
    &-apple {
        &:before { content: @li-apple; }
    }
    &-behance {
        &:before { content: @li-behance; }
    }
    &-blogger {
        &:before { content: @li-blogger; }
    }
    &-codepen {
        &:before { content: @li-codepen; }
    }
    &-facebook {
        &:before { content: @li-facebook; }
    }
    &-flickr {
        &:before { content: @li-flickr; }
    }
    &-foursquare {
        &:before { content: @li-foursquare; }
    }
    &-instagram {
        &:before { content: @li-instagram; }
    }
    &-linkedin {
        &:before { content: @li-linkedin; }
    }
    &-medium {
        &:before { content: @li-medium; }
    }
    &-pinterest {
        &:before { content: @li-pinterest; }
    }
    &-skype {
        &:before { content: @li-skype; }
    }
    &-slack {
        &:before { content: @li-slack; }
    }
    &-spotify {
        &:before { content: @li-spotify; }
    }
    &-twitter {
        &:before { content: @li-twitter; }
    }
    &-vimeo {
        &:before { content: @li-vimeo; }
    }
    &-wikipedia {
        &:before { content: @li-wikipedia; }
    }
    &-windows {
        &:before { content: @li-windows; }
    }
    &-wordpress {
        &:before { content: @li-wordpress; }
    }
    &-youtube {
        &:before { content: @li-youtube; }
    }
    &-angle-top {
        &:before { content: @li-angle-top; }
    }
    &-angle-down {
        &:before { content: @li-angle-down; }
    }
    &-angle-left {
        &:before { content: @li-angle-left; }
    }
    &-angle-right {
        &:before { content: @li-angle-right; }
    }
    &-angle-double-top {
        &:before { content: @li-angle-double-top; }
    }
    &-angle-double-down {
        &:before { content: @li-angle-double-down; }
    }
    &-angle-double-left {
        &:before { content: @li-angle-double-left; }
    }
    &-angle-double-right {
        &:before { content: @li-angle-double-right; }
    }
    &-arrow-top {
        &:before { content: @li-arrow-top; }
    }
    &-arrow-top-right {
        &:before { content: @li-arrow-top-right; }
    }
    &-arrow-right {
        &:before { content: @li-arrow-right; }
    }
    &-arrow-down-right {
        &:before { content: @li-arrow-down-right; }
    }
    &-arrow-down {
        &:before { content: @li-arrow-down; }
    }
    &-arrow-down-left {
        &:before { content: @li-arrow-down-left; }
    }
    &-arrow-left {
        &:before { content: @li-arrow-left; }
    }
    &-arrow-top-left {
        &:before { content: @li-arrow-top-left; }
    }
    &-arrows {
        &:before { content: @li-arrows; }
    }
    &-arrows-alt {
        &:before { content: @li-arrows-alt; }
    }
    &-arrows-oblique {
        &:before { content: @li-arrows-oblique; }
    }
    &-arrows-oblique-alt {
        &:before { content: @li-arrows-oblique-alt; }
    }
    &-arrows-h {
        &:before { content: @li-arrows-h; }
    }
    &-arrows-v {
        &:before { content: @li-arrows-v; }
    }
    &-slide-h {
        &:before { content: @li-slide-h; }
    }
    &-slide-v {
        &:before { content: @li-slide-v; }
    }
    &-caret-top {
        &:before { content: @li-caret-top; }
    }
    &-caret-down {
        &:before { content: @li-caret-down; }
    }
    &-caret-left {
        &:before { content: @li-caret-left; }
    }
    &-caret-right {
        &:before { content: @li-caret-right; }
    }
    &-angles-alt {
        &:before { content: @li-angles-alt; }
    }
    &-angles {
        &:before { content: @li-angles; }
    }
    &-loading {
        &:before { content: @li-loading; }
    }
    &-restart {
        &:before { content: @li-restart; }
    }
}

