

$li-accessibility: "\e901";
$li-accessibility-alt: "\e900";
$li-deaf: "\e91b";
$li-bullhorn: "\e911";
$li-certificate: "\e913";
$li-check: "\e915";
$li-close: "\e917";
$li-minus: "\e93f";
$li-plus: "\e94e";
$li-more-or-less: "\e941";
$li-divide: "\e91d";
$li-percent: "\e94a";
$li-permille: "\e94b";
$li-dollar: "\e91e";
$li-delivery: "\e91c";
$li-door-lock: "\e91f";
$li-door: "\e920";
$li-eye: "\e927";
$li-eye-slash: "\e926";
$li-flag: "\e929";
$li-folder: "\e92a";
$li-archive: "\e904";
$li-paper: "\e947";
$li-paperclip: "\e948";
$li-download: "\e923";
$li-upload: "\e968";
$li-note: "\e944";
$li-pencil: "\e949";
$li-trash: "\e962";
$li-printer: "\e94f";
$li-filter: "\e928";
$li-balloons: "\e907";
$li-birthday-cake: "\e90d";
$li-gift: "\e92b";
$li-graduation-cap: "\e92c";
$li-university: "\e965";
$li-trophy: "\e963";
$li-black-tie: "\e90e";
$li-hashtag: "\e92d";
$li-asterisk: "\e905";
$li-ampersand: "\e902";
$li-home: "\e931";
$li-menu: "\e93e";
$li-options: "\e945";
$li-dots-v: "\e922";
$li-dots-h: "\e921";
$li-calendar: "\e912";
$li-clock: "\e916";
$li-bell: "\e90c";
$li-share: "\e958";
$li-comment: "\e918";
$li-chat: "\e914";
$li-search: "\e956";
$li-settings: "\e957";
$li-hourglass: "\e932";
$li-rss: "\e955";
$li-infinity: "\e933";
$li-cursor: "\e91a";
$li-laptop: "\e936";
$li-bug: "\e910";
$li-leaf: "\e937";
$li-anchor: "\e903";
$li-link: "\e938";
$li-magnet: "\e93c";
$li-magnet-alt: "\e93b";
$li-location-arrow: "\e939";
$li-map-marker: "\e93d";
$li-phone: "\e94c";
$li-mobile: "\e940";
$li-envelope: "\e924";
$li-at: "\e906";
$li-battery-full: "\e90a";
$li-battery-half: "\e90b";
$li-battery-empty: "\e909";
$li-music: "\e943";
$li-music-alt: "\e942";
$li-headphones: "\e92e";
$li-paper-plane: "\e946";
$li-plug: "\e94d";
$li-turn-off: "\e964";
$li-question: "\e950";
$li-exclamation: "\e925";
$li-quote-left: "\e951";
$li-quote-right: "\e952";
$li-quotes: "\e953";
$li-copyright: "\e919";
$li-registered: "\e954";
$li-trademark: "\e961";
$li-tag: "\e95e";
$li-heart: "\e92f";
$li-heartbeat: "\e930";
$li-star: "\e95c";
$li-star-half: "\e95b";
$li-star-alt: "\e95a";
$li-thumbs-up: "\e960";
$li-thumbs-down: "\e95f";
$li-ban: "\e908";
$li-lock: "\e93a";
$li-unlock: "\e967";
$li-unlock-alt: "\e966";
$li-user: "\e96a";
$li-user-alt: "\e969";
$li-users: "\e96c";
$li-users-alt: "\e96b";
$li-info: "\e934";
$li-warning: "\e96d";
$li-bluetooth: "\e90f";
$li-signal: "\e959";
$li-wireless: "\e96e";
$li-bike: "\e971";
$li-bus: "\e976";
$li-car: "\e978";
$li-subway: "\e993";
$li-train: "\e997";
$li-book: "\e973";
$li-bookmaker: "\e974";
$li-glasses: "\e983";
$li-key: "\e935";
$li-briefcase: "\e975";
$li-suitcase: "\e95d";
$li-picture: "\e98a";
$li-camera: "\e977";
$li-flash: "\e97f";
$li-coffee: "\e97a";
$li-diamond: "\e97c";
$li-float: "\e980";
$li-fruit-apple: "\e981";
$li-glass: "\e982";
$li-stethoscope: "\e992";
$li-atom: "\e96f";
$li-kitasato: "\e984";
$li-test-tube: "\e996";
$li-drop: "\e97d";
$li-drugs: "\e97e";
$li-light: "\e985";
$li-balance: "\e970";
$li-line-chart: "\e986";
$li-pie-chart: "\e98b";
$li-map: "\e987";
$li-mouse: "\e989";
$li-compact-disc: "\e97b";
$li-pin: "\e98d";
$li-pin-alt: "\e98c";
$li-sun: "\e994";
$li-moon: "\e988";
$li-cloud: "\e979";
$li-bolt: "\e972";
$li-umbrella: "\e998";
$li-planet: "\e98e";
$li-rocket: "\e98f";
$li-shield: "\e990";
$li-skull: "\e991";
$li-target: "\e995";
$li-play: "\e9a2";
$li-pause: "\e9a1";
$li-stop: "\e9a7";
$li-rec: "\e9a3";
$li-fast-backward: "\e99a";
$li-fast-forward: "\e99b";
$li-backward: "\e999";
$li-forward: "\e99c";
$li-step-left: "\e9a5";
$li-step-right: "\e9a6";
$li-left: "\e99d";
$li-right: "\e9a4";
$li-video-camera: "\e9a8";
$li-microphone: "\e99f";
$li-volume-up: "\e9ab";
$li-volume-down: "\e9a9";
$li-volume: "\e9ac";
$li-volume-off: "\e9aa";
$li-maximize: "\e99e";
$li-minimize: "\e9a0";
$li-female: "\e9ad";
$li-male: "\e9b0";
$li-mars-double: "\e9b1";
$li-venus-double: "\e9b7";
$li-intersex: "\e9af";
$li-venus-mars: "\e9b8";
$li-mars-stroke-h: "\e9b2";
$li-mars-stroke-v: "\e9b3";
$li-transgender: "\e9b6";
$li-mercury: "\e9b4";
$li-neuter: "\e9b5";
$li-genderless: "\e9ae";
$li-apple: "\e9b9";
$li-google: "\e9c1";
$li-windows: "\e9ce";
$li-codepen: "\e9bc";
$li-behance: "\e9ba";
$li-dribbble: "\e9bd";
$li-flickr: "\e9bf";
$li-instagram: "\e9c2";
$li-linkedin: "\e9c3";
$li-medium: "\e9c4";
$li-blogger: "\e9bb";
$li-wordpress: "\e9cf";
$li-facebook: "\e9be";
$li-pinterest: "\e9c6";
$li-twitter: "\e9cb";
$li-snapchat: "\e9c9";
$li-vimeo: "\e9cc";
$li-youtube: "\e9d0";
$li-spotify: "\e9ca";
$li-slack: "\e9c8";
$li-skype: "\e9c7";
$li-foursquare: "\e9c0";
$li-paypal: "\e9c5";
$li-wikipedia: "\e9cd";
$li-angle-double-down: "\e9d1";
$li-angle-double-left: "\e9d2";
$li-angle-double-right: "\e9d3";
$li-angle-double-top: "\e9d4";
$li-angle-down: "\e9d5";
$li-angle-left: "\e9d6";
$li-angle-right: "\e9d7";
$li-angle-top: "\e9d8";
$li-angles: "\e9da";
$li-angles-alt: "\e9d9";
$li-arrow-down-left: "\e9db";
$li-arrow-down-right: "\e9dc";
$li-arrow-down: "\e9dd";
$li-arrow-left: "\e9de";
$li-arrow-right: "\e9df";
$li-arrow-top-left: "\e9e0";
$li-arrow-top-right: "\e9e1";
$li-arrow-top: "\e9e2";
$li-arrows-h: "\e9e4";
$li-arrows-oblique-alt: "\e9e5";
$li-arrows-oblique: "\e9e6";
$li-arrows-v: "\e9e7";
$li-arrows-alt: "\e9e3";
$li-arrows: "\e9e8";
$li-caret-down: "\e9e9";
$li-caret-left: "\e9ea";
$li-caret-right: "\e9eb";
$li-caret-top: "\e9ec";
$li-loading: "\e9ed";
$li-restart: "\e9ef";
$li-random: "\e9ee";
$li-slide-h: "\e9f1";
$li-slide-h-alt: "\e9f0";
$li-slide-v: "\e9f3";
$li-slide-v-alt: "\e9f2";

