icomoon-font-path ?= "fonts"

li-accessibility = "\e901"
li-ampersand = "\e902"
li-anchor = "\e90e"
li-archive = "\e91d"
li-asterisk = "\e91e"
li-at = "\e922"
li-balloons = "\e923"
li-birthday-cake = "\e927"
li-gift = "\e959"
li-turn-off = "\e9bb"
li-ban = "\e925"
li-warning = "\e9cb"
li-bell = "\e92d"
li-bullhorn = "\e92e"
li-calendar = "\e934"
li-certificate = "\e9a3"
li-clock = "\e937"
li-chat = "\e935"
li-comment = "\e93c"
li-copyright = "\e93e"
li-registered = "\e99e"
li-trademark = "\e9b7"
li-delivery = "\e940"
li-dots-h = "\e943"
li-dots-v = "\e944"
li-download = "\e945"
li-envelope = "\e948"
li-exclamation = "\e949"
li-question = "\e999"
li-eye = "\e94b"
li-eye-slash = "\e94a"
li-filter = "\e950"
li-flag = "\e903"
li-graduation-cap = "\e95c"
li-hashtag = "\e95d"
li-heart = "\e95f"
li-home = "\e960"
li-hourglass = "\e961"
li-infinity = "\e962"
li-info = "\e963"
li-laptop = "\e967"
li-leaf = "\e968"
li-link = "\e96c"
li-lock = "\e96f"
li-unlock = "\e9c0"
li-unlock-alt = "\e9bf"
li-magnet = "\e971"
li-magnet-alt = "\e970"
li-map-marker = "\e973"
li-menu = "\e97a"
li-minus = "\e97e"
li-plus = "\e997"
li-more-or-less = "\e981"
li-check = "\e936"
li-close = "\e938"
li-divide = "\e941"
li-dollar = "\e942"
li-percent = "\e98d"
li-permille = "\e98e"
li-music = "\e984"
li-music-alt = "\e983"
li-headphones = "\e95e"
li-note = "\e986"
li-options = "\e987"
li-paper = "\e989"
li-printer = "\e998"
li-paper-plane = "\e988"
li-paperclip = "\e98a"
li-pencil = "\e98c"
li-phone = "\e98f"
li-mobile = "\e97f"
li-quote-left = "\e99a"
li-quote-right = "\e99b"
li-quotes = "\e99c"
li-rss = "\e9a1"
li-search = "\e9a2"
li-settings = "\e904"
li-share = "\e9a4"
li-signal = "\e9a6"
li-wireless = "\e9ce"
li-star = "\e9ad"
li-tag = "\e9b2"
li-thumbs-up = "\e9b6"
li-thumbs-down = "\e9b5"
li-trash = "\e9b9"
li-trophy = "\e9ba"
li-university = "\e9be"
li-user = "\e9c1"
li-users = "\e9c2"
li-bolt = "\e929"
li-flash = "\e952"
li-camera = "\e92f"
li-fruit-apple = "\e957"
li-book = "\e92a"
li-bookmaker = "\e92b"
li-briefcase = "\e92c"
li-coffee = "\e93b"
li-compact-disc = "\e93d"
li-drop = "\e946"
li-drugs = "\e947"
li-float = "\e954"
li-glass = "\e95a"
li-glasses = "\e95b"
li-balance = "\e921"
li-atom = "\e91f"
li-kitasato = "\e966"
li-test-tube = "\e9b4"
li-light = "\e96a"
li-pie-chart = "\e991"
li-line-chart = "\e96b"
li-cloud = "\e939"
li-sun = "\e9b1"
li-moon = "\e980"
li-planet = "\e995"
li-mouse = "\e982"
li-map = "\e974"
li-picture = "\e990"
li-bike = "\e926"
li-pin = "\e993"
li-pin-alt = "\e992"
li-shield = "\e9a5"
li-skull = "\e9a7"
li-target = "\e9b3"
li-umbrella = "\e9bd"
li-maximize = "\e978"
li-minimize = "\e97d"
li-play = "\e996"
li-pause = "\e98b"
li-rec = "\e99d"
li-stop = "\e9b0"
li-backward = "\e920"
li-forward = "\e955"
li-fast-backward = "\e94d"
li-fast-forward = "\e94e"
li-left = "\e969"
li-right = "\e9a0"
li-step-left = "\e9ae"
li-step-right = "\e9af"
li-microphone = "\e97c"
li-video-camera = "\e9c5"
li-volume = "\e9ca"
li-volume-down = "\e9c7"
li-volume-up = "\e9c9"
li-volume-off = "\e9c8"
li-genderless = "\e958"
li-neuter = "\e985"
li-female = "\e94f"
li-male = "\e972"
li-venus-double = "\e9c3"
li-mars-double = "\e975"
li-venus-mars = "\e9c4"
li-intersex = "\e965"
li-mars-stroke-h = "\e976"
li-mars-stroke-v = "\e977"
li-mercury = "\e97b"
li-transgender = "\e9b8"
li-apple = "\e90d"
li-behance = "\e924"
li-blogger = "\e928"
li-codepen = "\e93a"
li-facebook = "\e94c"
li-flickr = "\e953"
li-foursquare = "\e956"
li-instagram = "\e96d"
li-linkedin = "\e96e"
li-medium = "\e979"
li-pinterest = "\e994"
li-skype = "\e9a8"
li-slack = "\e9a9"
li-spotify = "\e9ac"
li-twitter = "\e9bc"
li-vimeo = "\e9c6"
li-wikipedia = "\e9cc"
li-windows = "\e9cd"
li-wordpress = "\e9cf"
li-youtube = "\e9d0"
li-angle-top = "\e90a"
li-angle-down = "\e907"
li-angle-left = "\e908"
li-angle-right = "\e909"
li-angle-double-top = "\e906"
li-angle-double-down = "\e905"
li-angle-double-left = "\e90b"
li-angle-double-right = "\e90c"
li-arrow-top = "\e916"
li-arrow-top-right = "\e915"
li-arrow-right = "\e913"
li-arrow-down-right = "\e910"
li-arrow-down = "\e911"
li-arrow-down-left = "\e90f"
li-arrow-left = "\e912"
li-arrow-top-left = "\e914"
li-arrows = "\e91c"
li-arrows-alt = "\e917"
li-arrows-oblique = "\e91a"
li-arrows-oblique-alt = "\e919"
li-arrows-h = "\e918"
li-arrows-v = "\e91b"
li-slide-h = "\e9aa"
li-slide-v = "\e9ab"
li-caret-top = "\e933"
li-caret-down = "\e930"
li-caret-left = "\e931"
li-caret-right = "\e932"
li-angles-alt = "\e93f"
li-angles = "\e951"
li-loading = "\e99f"
li-restart = "\e900"

