* {
    -webkit-box-sizing:border-box;
       -moz-box-sizing:border-box;
            box-sizing:border-box;
}

body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    color: #606c71;
    background: white;
    font-family: 'Dosis', 'Tahoma', sans-serif !important;
    font-size: 16px;
}

h1 { font-size: 3rem }
h2 { font-size: 2.5rem }
h3 { font-size: 2rem }
h4 { font-size: 1.5rem }
h5 { font-size: 1rem }
h6 { font-size: 0.8rem }

a {
    color: #1e6bb8;
    text-decoration: none; }
a:hover {
    text-decoration: underline; }

.btn {
    display: inline-block;
    margin-bottom: 1rem;
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.08);
    border-color: rgba(255, 255, 255, 0.2);
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3rem;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
    font-weight: 700;
    font-size: 1.2rem;
}

.btn + .btn {
    margin-left: 1rem;
}

.btn:hover {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.3); }

.btn-download {
    color: #ff3000;
    background-color: rgba(255, 255, 255, 0.7);
    border-color: rgba(255, 255, 255, 1); }

.btn-download:hover {
    color: #ff3000;
    background-color: rgba(255, 255, 255, 1);
    border-color: rgba(255, 255, 255, 1); }

.btn-mapping {
    color: #606c71;
    background-color: rgba(0, 0, 0, 0);
    border-color: #606c71; }

.btn-mapping:hover {
    color: #000000;
    background-color: rgba(0, 0, 0, 0.1);
    border-color: #000000; }

.project-name span {
    color: #ff3000;
    font-weight: bold;
    font-size: 14px;
    border: 1px solid #ff3000;
    padding: 2px 10px;
    border-radius: 25px;
    vertical-align: middle;
}

.project-tagline span {
    color: white;
    font-size: 14px;
    border: 1px solid white;
    padding: 2px 10px;
    border-radius: 25px;
    vertical-align: middle;
    margin-left: 10px;
}

@media screen and (min-width: 64em) {
    .btn {
        padding: 0.75rem 1rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
    .btn {
        padding: 0.6rem 0.9rem;
        font-size: 0.9rem; } }

@media screen and (max-width: 42em) {
    .btn {
        display: block;
        width: 100%;
        padding: 0.75rem;
        font-size: 0.9rem; }
    .btn + .btn {
        margin-top: 1rem;
        margin-left: 0; } }

.page-header {
    color: #fff;
    text-align: center;
    background-color: #ff3000;
    background-image: linear-gradient(120deg, #ff3000, #ffd500); }

@media screen and (min-width: 64em) {
    .page-header {
        padding: 5rem 6rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
    .page-header {
        padding: 3rem 4rem; } }

@media screen and (max-width: 42em) {
    .page-header {
        padding: 2rem 1rem; } }

.project-name {
    margin-top: 0;
    margin-bottom: 0.1rem; }

@media screen and (min-width: 64em) {
    .project-name {
        font-size: 3.25rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
    .project-name {
        font-size: 2.25rem; } }

@media screen and (max-width: 42em) {
    .project-name {
        font-size: 1.75rem;
    }
}

@media screen and (max-width: 960px) {
    .glyph {
        width: 49% !important;
    }
}

@media screen and (max-width: 600px) {
    .glyph {
        width: 100% !important;
    }
}

.project-tagline {
    margin-bottom: 2rem;
    font-weight: normal;
    opacity: 0.7; }

@media screen and (min-width: 64em) {
    .project-tagline {
        font-size: 1.25rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
    .project-tagline {
        font-size: 1.15rem; } }

@media screen and (max-width: 42em) {
    .project-tagline {
        font-size: 1rem; } }

.main-content :first-child {
    margin-top: 0;
}

.main-content img {
    max-width: 100%;
}

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    font-weight: normal;
    color: #ff3000;
}

.main-content p {
    margin-bottom: 1em;
}

.main-content code {
    padding: 2px 4px;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 0.9rem;
    color: #383e41;
    background-color: #f3f6fa;
    border-radius: 0.3rem;
}

.main-content pre {
    padding: 0.8rem;
    margin-top: 0;
    margin-bottom: 1rem;
    font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
    color: #567482;
    word-wrap: normal;
    background-color: #f3f6fa;
    border: solid 1px #dce6f0;
    border-radius: 0.3rem;
}

.main-content pre > code {
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
    color: #567482;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0;
}

.main-content .highlight {
    margin-bottom: 1rem;
}

.main-content .highlight pre {
    margin-bottom: 0;
    word-break: normal;
}

.main-content .highlight pre, .main-content pre {
    padding: 0.8rem;
    overflow: auto;
    font-size: 0.9rem;
    line-height: 1.45;
    border-radius: 0.3rem;
}

.main-content pre code, .main-content pre tt {
    display: inline;
    max-width: initial;
    padding: 0;
    margin: 0;
    overflow: initial;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0;

}
.main-content pre code:before,
.main-content pre code:after,
.main-content pre tt:before,
.main-content pre tt:after {
    content: normal;
}

.main-content ul, .main-content ol {
    margin-top: 0;
}

.main-content blockquote {
    padding: 0 1rem;
    margin-left: 0;
    color: #819198;
    border-left: 0.3rem solid #dce6f0;
}

.main-content blockquote > :first-child {
    margin-top: 0;
}

.main-content blockquote > :last-child {
    margin-bottom: 0;
}

.main-content table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all;
}

.main-content table th {
    font-weight: bold;
}

.main-content table th, .main-content table td {
    padding: 0.5rem 1rem;
    border: 1px solid #e9ebec;
}

.main-content dl {
    padding: 0;
}

.main-content dl dt {
    padding: 0;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: bold;
}

.main-content dl dd {
    padding: 0;
    margin-bottom: 1rem;
}

.main-content hr {
    height: 2px;
    padding: 0;
    margin: 1rem 0;
    background-color: #eff0f1;
    border: 0;
}

@media screen and (min-width: 64em) {
    .main-content {
        max-width: 64rem;
        padding: 2rem 6rem;
        margin: 0 auto;
        font-size: 1.1rem;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .main-content {
        padding: 2rem 4rem;
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 42em) {
    .main-content {
        padding: 2rem 1rem;
        font-size: 1rem;
    }
}

footer {
    padding: 2rem 0;
    margin-top: 2rem;
    border-top: solid 1px #eff0f1;
    text-align: center;
    font-size: 0.8rem;
    overflow: hidden;
    width: 100%;
    height: auto;
}

footer iframe {
    width: 42px;
    height: 42px;
    border: none;
    margin: 0 auto;
}

.site-footer-owner {
    display: block;
    font-weight: bold;
    font-size: 1rem;
}

.site-footer-credits {
    color: #819198;
}

@media screen and (min-width: 64em) {
    .site-footer {
        font-size: 1rem;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .site-footer {
        font-size: 1rem;
    }
}

@media screen and (max-width: 42em) {
    .site-footer {
        font-size: 0.9rem;
    }
}




/* FONTASTIC STYLE */

ol,ul {
    list-style:none;
}

table {
    border-collapse:separate;
    border-spacing:0;
    vertical-align:middle;
}

caption,th,td {
    text-align:left;
    font-weight:normal;
    vertical-align:middle;
}

a img {
    border:none;
}

.container {
    margin:15px auto;
    width:80%;
}
/*
h1 {
    margin:40px 0 20px;
    font-weight:700;
    font-size:38px;
    line-height:32px;
    color:#ffffff;
}

h2 {
    font-size:18px;
    padding:0 0 21px 5px;
    margin:45px 0 0 0;
    text-transform:uppercase;
    font-weight:500;
}*/

.small {
    font-size:14px;
    color:#a5adb4;
}

.small a {
    color:#a5adb4;
}

.small a:hover {
    color:#ff3000;
}

.glyphs.character-mapping {
    margin:0 0 20px 0;
    padding:20px 0 20px 30px;
    color:rgba(0,0,0,0.5);
    border:1px solid #d8e0e5;
    -webkit-border-radius:3px;
    border-radius:3px;
}

.glyphs.character-mapping li {
    margin:0 30px 20px 0;
    display:inline-block;
    width:90px}

.glyphs.character-mapping .icon {
    margin:10px 0 10px 15px;
    padding:15px;
    position:relative;
    width:55px;
    height:55px;
    color:#162a36 !important;
    overflow:hidden;
    -webkit-border-radius:3px;
    border-radius:3px;
    font-size:32px;
}

.glyphs.character-mapping .icon svg {
    fill:#000;
}

.glyphs.character-mapping input {
    margin:0;
    padding:5px 0;
    line-height:12px;
    font-size:12px;
    display:block;
    width:100%;
    border:1px solid #d8e0e5;
    -webkit-border-radius:5px;
    border-radius:5px;
    text-align:center;
    outline:0;
}

.glyphs.character-mapping input:focus {
    border:1px solid #fbde4a;
    -webkit-box-shadow:inset 0 0 3px #fbde4a;
    box-shadow:inset 0 0 3px #fbde4a;
}

.glyphs.character-mapping input:hover {
    -webkit-box-shadow:inset 0 0 3px #fbde4a;
    box-shadow:inset 0 0 3px #fbde4a;
}

.glyphs.css-mapping {
    margin:0 0 60px 0;
    padding:30px 0 20px 30px;
    color:rgba(0,0,0,0.5);
    border:1px solid #d8e0e5;
    -webkit-border-radius:3px;
    border-radius:3px;
}

.glyphs.css-mapping li {
    margin:0 30px 20px 0;
    padding:0;
    display:inline-block;
    overflow:hidden;
}

.glyphs.css-mapping .icon {
    margin:0;
    margin-right:10px;
    padding:13px;
    height:50px;
    width:50px;
    color:#162a36 !important;
    overflow:hidden;
    float:left;
    font-size:24px;
}

.glyphs.css-mapping input {
    margin:0;
    margin-top:5px;
    padding:8px;
    line-height:16px;
    font-size:16px;
    display:block;
    width:150px;
    height:40px;
    border:1px solid #d8e0e5;
    -webkit-border-radius:5px;
    border-radius:5px;
    background:#fff;
    outline:0;
    float:right;
}

.glyphs.css-mapping input:focus {
    border:1px solid #fbde4a;
    -webkit-box-shadow:inset 0 0 3px #fbde4a;
    box-shadow:inset 0 0 3px #fbde4a;
}

.glyphs.css-mapping input:hover {
    -webkit-box-shadow:inset 0 0 3px #fbde4a;
    box-shadow:inset 0 0 3px #fbde4a;
}


.bshadow0, input {
    box-shadow: inset 0 -2px #e7e7e7;
}
input:hover {
    box-shadow: inset 0 -2px #fbde4a;
}
input, fieldset {
    font-family: 'Dosis', 'Tahoma', sans-serif;
    font-size: 1em;
    margin: 0;
    padding: .25em 0;
    border: 0;
}
input {
    color: inherit;
    line-height: 1.5;
    height: 2em;
    padding: .25em 0;
}
input:focus {
    outline: none;
    box-shadow: inset 0 -2px #ff3000;
}
.exIcons {
    padding: 0 1.2em;
}
.exIcons i {
    margin: 0 1.2em;
}
.searchTitle {
    width: 100%;
    overflow: hidden;
    padding-top: 1em;
    color: #666 !important;
    display: none;
    margin-top: 0 !important;
}
.setTitle {
    width: 100%;
    overflow: hidden;
    padding-top: 1em;
    color: #666 !important;
}
.setGroup {
    margin-bottom: 2em;
    overflow: hidden;
}
.glyph {
    font-size: 16px;
    width: 33%;
    padding: 1em;
    float: left;
    overflow: hidden;
}
.glyph span {
    color: #ff3000;
}
.glyph .label .txt {
    margin-left: 15px;
    line-height: 3rem;
    vertical-align: top;
    color: #666;
}
.glyph fieldset input {
    width: 49%;
}
.glyph fieldset .align-right {
    text-align: right;
}
.glyph .ligature span {
    width: 20%;
    color: #666;
}
.liga {
    width: 80%;
    text-align: right;
    float: right;
}
.nothing {
    display: none;
    visibility: hidden;
    height: 0;
    width: 0;
    padding: 0;
    margin: 0;
}
#search__filter {
    padding: 10px 36px;
    border-radius: 32px;
    font-size: 1.2em;
    line-height: 2em;
    width: 100%;
    color: #666;
    margin-top: 30px;
    text-align: center;
    background-color: white;
    border: 2px solid #ddd;
    -webkit-box-shadow: none;
    box-shadow: none;
}
#search__filter:hover {
    border-color: #fbde4a;
}
#search__filter:focus {
    border-color: #ff3000;
}